# DATABASES = {
#     'default': {
#         'ENGINE': 'django.db.backends.postgresql_psycopg2',
#         'NAME': '<DB_NAME>',
#         'USER': '<DB_USER>',
#         'PASSWORD': '',
#         'HOST': '',
#         'PORT': '',
#     }
# }

# Production
# ALLOWED_HOSTS = []
# DEFAULT_FROM_EMAIL = ''
# SERVER_EMAIL = ''
# ADMINS = ()
#
# STATIC_ROOT = ''
# MEDIA_ROOT = ''
# STATIC_URL = '/static/'
# MEDIA_URL = '/media/'

GEOCODING_OPTION = {}

GEOIP_PATH = '/tmp/geoip/'

JWT_TOKEN_VERIFY_URL = 'http://terra-back/api/auth/verify-token/'

# REST_FRAMEWORK = {
#     'DEFAULT_PERMISSION_CLASSES': ()
# }