[run]
omit = */tests/*
        */migrations/*
        */apps.py
        manage.py
        project/settings/*
        project/wsgi.py
source = .

[report]
exclude_lines = 
        raise NotImplementedError
